
  <mat-card class="example-card bottom-10">
    <form [formGroup]="signUpForm" #form="ngForm" class="example-form">
      <mat-card-header>
          <mat-card-title>
            Create your Collect Account
          </mat-card-title>
      </mat-card-header>
      <mat-card-content>
          
          <mat-form-field class="example-full-width">
              <input matInput id="email"
                placeholder="Email"
                formControlName="email">
              <div *ngIf="email.invalid && (email.dirty || email.touched)"
                class="alert alert-danger">
   
                <mat-error *ngIf="email.errors.required">
                  Email is required.
                </mat-error>

                <mat-error *ngIf="email.errors.email">
                  This is not a valid email address.
                </mat-error>
                
              </div>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="password" id="password"
              placeholder="Password"
              formControlName="password">
            <div *ngIf="password.invalid && (password.dirty || password.touched)"
              class="alert alert-danger">
 
              <mat-error *ngIf="password.errors.required">
                Enter a password
              </mat-error>

              <mat-error *ngIf="password.errors.minlength">
                Use 8 characters or more for your password
              </mat-error>

              <mat-error *ngIf="password.errors.maxlength">
                Use 100 characters or fewer for your password
              </mat-error>

            </div>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="password" id="confirmPassword"
              placeholder="Confirm password"
              formControlName="confirmPassword">
            <div *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)"
              class="alert alert-danger">
 
              <mat-error *ngIf="confirmPassword.errors.required">
                Confirm your password
              </mat-error>

              <mat-error *ngIf="confirmPassword.errors.doesMatchPassword">
                Those password didn't match, try again
              </mat-error>

            </div>
          </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button routerLink="/login" class="left">Sign in instead</button>
        <button mat-button [disabled]="signUpForm.invalid" class="right">Submit</button>
      </mat-card-actions>
      <mat-error *ngIf="signUpForm.errors?.doesMatchPassword">
        Those password didn't match, try again
      </mat-error>
    </form>
  </mat-card>
